.page {
    width: 100%;
    color: rgb(44, 42, 40);
    font-weight: bold;
}

.header ul {
    width: 100%;
    height: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 10%;
}

li {
    float: left;
    padding: 10px;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: brown;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: rgb(104, 54, 54);
}

.cart {
    width: 10%;
    float: right;
}