.footer {
    width: 100%;
    height: 30vh;
    border-top: 1px solid gray;
    text-align: center;
    margin-top: 66px;
}

.footer1 {
    width: 16%;
    height: 5vh;
    font-size: 28px;
    letter-spacing: 3px;
    background: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin: -25px 42% 5vh 42%;
}

.footer2 {
    width: 100%;
    height: 15vh;
    display: flex;
}

.footer2 ul {
    list-style-type: none;
}

.list-icon {
    display: inline;
}

.list-icon li {
    padding: 0 5px;
}

.list-icon li a {
    color: rgb(51, 53, 54);
}

.contact {
    width: 40%;
}

.contact-left {
    padding-left: 20%;
}

.list-icon {
    width: 20%;
    font-size: 24px;
    margin: 0!important;
    padding-top: 20px;
}

.list-icon ul {
    padding-inline-start: 0!important;
}

.list-icon li {
    display: inline!important;
}

.contact-right {
    padding-right: 20%;
}

.footer2 ul li a:hover {
    color: brown;
}

.footer3 {
    width: 100%;
    height: 15vh;
}

.footer3 div {
    padding: 0 0 10px 0;
}

#email {
    height: 5vh;
    margin-right: 10px;
}

.sub-now {
    height: 5vh !important;
    background-color: rgba(40, 40, 40, 1) !important;
}